<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
	<title>LeThanhTiem</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--//tags -->
	<link rel="stylesheet" href="{%static "css/bootstrap.css"%}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="{%static "css/style.css"%}" type="text/css" media="all" />
	<link rel="stylesheet" href="{%static "css/font-awesome.css"%}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,300,300i,400,400i,500,500i,600,600i,700,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>
	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>Image Retrieval - UIT</h3>
            <p>Oxford dataset - Nguyễn Vinh Tiệp(tạo)</p>
							<form action="upload" method="post" enctype="multipart/form-data">
                {% csrf_token %}
								<div class="top-buttons">
									<div class="container">
                      <input type="file" id="file-input" name = "file"\/>
                    </div>
					      <!-- <input type="submit"> -->
								</div>
                <div class="tp">
                  <br>
                  <button type="submit" class="btn btn-primary">Search Image</button>
                </div>
					    </form>

							<!-- <div class="clearfix"> </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>



</body>

</html>
